<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>com.blueprintit.jspboard.listeners.ContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.blueprintit.jspboard.listeners.SessionListener</listener-class>
	</listener>
	
	<!--
	<servlet>
		<servlet-name>SessionHandler</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.SessionHandler</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	-->
	
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>WSWYM Bulletin Board</realm-name>
	</login-config>
	
	<!--
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	-->
	
</web-app>
