<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>com.blueprintit.jspboard.SessionHandler</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>SessionViewer</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.SessionView</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SessionViewer</servlet-name>
		<url-pattern>/sessions</url-pattern>
	</servlet-mapping>
	
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>General</web-resource-name>
			<url-pattern>/include/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin</web-resource-name>
			<url-pattern>/sessions</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Loginview</web-resource-name>
			<url-pattern>/view/logins.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>loginview</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Loginadmin</web-resource-name>
		</web-resource-collection>
		<auth-constraint>
			<role-name>loginadmin</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Contactview</web-resource-name>
			<url-pattern>/view/contacts.jsp</url-pattern>
			<url-pattern>/view/contact.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contactview</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Contactadmin</web-resource-name>
			<url-pattern>/edit/contact.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contactadmin</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Messageview</web-resource-name>
			<url-pattern>/view/folder.jsp</url-pattern>
			<url-pattern>/view/thread.jsp</url-pattern>
			<url-pattern>/download-file</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>messageview</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Messageadd</web-resource-name>
		</web-resource-collection>
		<auth-constraint>
			<role-name>messageadd</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Messageadmin</web-resource-name>
			<url-pattern>/edit/thread.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>messageadmin</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Boardadmin</web-resource-name>
			<url-pattern>/edit/folder.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>boardadmin</role-name>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>WSWYM Bulletin Board</realm-name>
	</login-config>

	<!--
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	-->
	
</web-app>
