<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>com.blueprintit.jspboard.ContextManager</listener-class>
	</listener>

	<!--
	<servlet>
		<servlet-name>SessionViewer</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.SessionView</servlet-class>
	</servlet>
	-->
	
	<servlet>
		<servlet-name>RequestInfo</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.RequestInfo</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FileDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CategoryDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.CategoryDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CategoryUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.CategoryUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CategoryAdd</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.CategoryAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MessageDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.MessageDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FolderDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FolderDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.LoginDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ThreadDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.ThreadDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Password</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.Password</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MessageAdd</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.MessageAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PersonAdd</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.PersonAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PersonDelete</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.PersonDelete</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginAdd</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.LoginAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FolderAdd</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FolderAdd</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FileUpload</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.Logout</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PersonUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.PersonUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.LoginUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FileUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ThreadUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.ThreadUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MessageUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.MessageUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FolderUpdate</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FolderUpdate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>com.blueprintit.jspboard.servlets.FileDownload</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Password</servlet-name>
		<url-pattern>/update/password</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FolderDelete</servlet-name>
		<url-pattern>/delete/folder</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FolderAdd</servlet-name>
		<url-pattern>/add/folder</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CategoryDelete</servlet-name>
		<url-pattern>/delete/category</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CategoryUpdate</servlet-name>
		<url-pattern>/update/category</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CategoryAdd</servlet-name>
		<url-pattern>/add/category</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileUpdate</servlet-name>
		<url-pattern>/update/file</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginDelete</servlet-name>
		<url-pattern>/delete/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileDelete</servlet-name>
		<url-pattern>/delete/file</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MessageDelete</servlet-name>
		<url-pattern>/delete/message</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ThreadDelete</servlet-name>
		<url-pattern>/delete/thread</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MessageAdd</servlet-name>
		<url-pattern>/add/message</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginAdd</servlet-name>
		<url-pattern>/add/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PersonAdd</servlet-name>
		<url-pattern>/add/person</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PersonDelete</servlet-name>
		<url-pattern>/delete/person</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/add/file</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PersonUpdate</servlet-name>
		<url-pattern>/update/person</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ThreadUpdate</servlet-name>
		<url-pattern>/update/thread</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginUpdate</servlet-name>
		<url-pattern>/update/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MessageUpdate</servlet-name>
		<url-pattern>/update/message</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FolderUpdate</servlet-name>
		<url-pattern>/update/folder</url-pattern>
	</servlet-mapping>
	
	<!--
	<servlet-mapping>
		<servlet-name>SessionViewer</servlet-name>
		<url-pattern>/sessions</url-pattern>
	</servlet-mapping>
	-->
	
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/view/file</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>

  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>General</web-resource-name>
			<url-pattern>/include/*</url-pattern>
			<url-pattern>/view/*</url-pattern>
			<url-pattern>/edit/*</url-pattern>
			<url-pattern>/update/*</url-pattern>
			<url-pattern>/add/*</url-pattern>
			<url-pattern>/file/*</url-pattern>
			<url-pattern>/delete/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!--
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>WSWYM Bulletin Board</realm-name>
	</login-config>
	-->

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/badlogin.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
</web-app>
